*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth; }

*:focus {
  outline: none !important;
  border-color: #939393 !important;
  box-shadow: none !important; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  color: #fafaf9;
  background-color: #141414;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.7; }

.heading-primary {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  letter-spacing: 0.3rem; }

.heading-secondary {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500; }

.heading-sub-title {
  font-size: 1.6rem;
  color: #939393;
  letter-spacing: 0.07rem;
  position: relative; }
  .heading-sub-title::before, .heading-sub-title::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;
    height: 0.25rem;
    border-radius: 0.15rem;
    background-color: #daa520; }
  .heading-sub-title::before {
    left: 12rem; }
  .heading-sub-title::after {
    right: 12rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-top-small {
  margin-top: 8rem !important; }

.u-margin-top-big {
  margin-top: 12rem !important; }

.u-yellow-color {
  color: #daa520 !important; }

.button__link, .button__link:link, .button__link:visited {
  display: inline-block;
  color: #141414;
  background-color: #fafaf9;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  padding: 1rem 2rem;
  border-radius: 2.5rem;
  transition: 0.3s ease; }

.button__link:hover {
  color: #fafaf9;
  background-color: #daa520;
  transform: scale(1.05); }

.about__image-box {
  max-width: 50rem;
  max-width: 60rem;
  z-index: 1;
  position: relative; }
  .about__image-box::before {
    content: "";
    position: absolute;
    top: 4rem;
    right: -1.8rem;
    width: 100%;
    height: 93%;
    outline: 0.6rem solid #daa520;
    z-index: -1; }

.about__image {
  width: 100%;
  height: 100%; }

.about__list {
  font-size: 1.8rem;
  height: 25rem; }

.about__item {
  color: #939393; }
  .about__item:not(:first-child) {
    margin-top: 1rem; }

.about__edex-timeline {
  background-color: #1e1d1d;
  padding: 3rem 1.5rem;
  border: 1px solid #939393;
  border-radius: 1rem; }

.about__edex-timelineitem {
  padding-left: 4rem;
  padding-bottom: 5rem;
  position: relative; }
  .about__edex-timelineitem:last-child {
    padding-bottom: 0; }
  .about__edex-timelineitem::before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 7.5px;
    background-color: #daa520; }

.about__edex-dot {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #daa520; }

.about__edex-timelinedate {
  font-size: 1.4rem; }

.about__edex-timelinetitle {
  font-size: 2.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #daa520; }

.about__edex-timelinedesc {
  font-size: 1.8rem;
  line-height: 1.5; }

.about__skill-item:not(:first-child) {
  margin-top: 3rem; }

.about__skill-title, .about__skill-percent {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 1px; }

.about__skill-title {
  font-size: 1.8rem; }

.about__skill-percent {
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #daa520;
  position: relative; }
  .about__skill-percent::after {
    content: "";
    position: absolute;
    bottom: -0.7rem;
    right: 50%;
    transform: translateX(50%);
    width: 3rem;
    height: 3rem;
    background-color: #daa520;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    z-index: -555; }

.about__skill-progress {
  height: 1.5rem !important; }

.about__skill-progressbar {
  background-color: #daa520; }

.contact__icon {
  font-size: 4rem;
  color: #daa520; }

.contact__title {
  font-size: 2.5rem; }

.contact__detail {
  font-size: 2rem;
  font-weight: 500;
  color: #939393; }

.contact__form-name, .contact__form-email, .contact__form-subject, .contact__form-message {
  width: 100%;
  background: #1e1d1d !important;
  border: 1px solid #939393;
  border-radius: 1.5rem; }
  .contact__form-name::placeholder, .contact__form-email::placeholder, .contact__form-subject::placeholder, .contact__form-message::placeholder {
    color: #939393;
    font-size: 1.5rem; }

.contact__form-name, .contact__form-email, .contact__form-subject {
  height: 5rem; }

.footer__desc {
  font-size: 1.5rem;
  color: #fafaf9; }

.footer__link {
  color: #daa520;
  font-weight: 500; }
  .footer__link:hover {
    color: #daa520; }

.header__col-1 {
  height: 5rem; }

.header__social-item:not(:first-child) {
  margin-left: 2.5rem; }

.header__social-link:link, .header__social-link:visited {
  color: #fafaf9;
  transition: all .3s ease; }

.header__social-link:hover {
  color: #939393; }

.header__social-icon {
  font-size: 1.8rem; }

.header__logo-box {
  min-width: 20rem;
  min-height: 4rem; }

.header__logo:link, .header__logo:visited {
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  color: #fafaf9;
  position: relative; }

.header__astr {
  position: absolute;
  top: 1.2rem;
  right: -1.8rem;
  font-size: 1.8rem;
  color: #daa520; }

.header__col-2 {
  min-height: calc(100vh - 8rem); }

.header__content {
  color: #939393;
  line-height: 1.3;
  max-width: 75%; }

.header__hello {
  font-size: 6rem;
  font-weight: 400; }

.header__name {
  font-size: 3.5rem; }

.header__desc {
  font-size: 2rem; }

.header__signature {
  font-size: 5rem;
  font-family: "Mr Dafoe", cursive;
  word-spacing: 1.2rem;
  letter-spacing: 0.25rem; }

.header__image-box {
  max-width: 90%;
  max-height: 90%; }

.header__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  border-radius: 0.8rem;
  transition: 0.3s ease; }
  .header__image:hover {
    filter: none;
    transform: scale(1.08); }

.navigation__button {
  background-color: #fafaf9;
  width: 6rem;
  height: 6rem;
  position: fixed;
  top: 3rem;
  right: 5rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer; }

.navigation__icon {
  position: relative;
  margin-top: 3rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 0.25rem;
    background-color: #141414;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: #fafaf9;
  opacity: 0;
  width: 0;
  visibility: hidden;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 5rem;
  padding: 1rem 2rem;
  color: #141414;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #daa520 50%);
  background-size: 220%;
  transition: all 0.4s; }
  .navigation__link:link span, .navigation__link:visited span {
    display: inline-block; }
  .navigation__link:link:hover, .navigation__link:link:active, .navigation__link:visited:hover, .navigation__link:visited:active {
    background-position: 100%;
    color: #fafaf9;
    transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 50%;
  visibility: visible; }

.portfolio__item {
  position: relative; }

.portfolio__imgbox {
  height: 30rem; }

.portfolio__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: 0.5s ease; }

.portfolio__detailsbox {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease; }

.portfolio__item:hover .portfolio__detailsbox {
  opacity: 1;
  visibility: visible; }

.portfolio__item:hover .portfolio__img {
  opacity: 0.2; }

.portfolio__name {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  position: absolute;
  top: 2rem;
  left: 2rem; }

.portfolio__icon {
  font-size: 4rem;
  color: #daa520;
  position: absolute;
  bottom: 2rem;
  right: 2rem; }
