// COLORS
$color-light-black: #141414;
$color-dark-white: #fafaf9;
$color-dark-yellow: #daa520;
$color-grey: #939393;

// FONTS
$font-default: "Open Sans", sans-serif;
$font-header: "Poppins", sans-serif;
$font-signature: "Mr Dafoe", cursive;
$font-logo: "Oswald", sans-serif;
