.contact {
  //details row
  &__icon {
    font-size: 4rem;
    color: $color-dark-yellow;
  }

  &__title {
    font-size: 2.5rem;
  }

  &__detail {
    font-size: 2rem;
    font-weight: 500;
    color: $color-grey;
  }

  //  form row
  &__form {
    &-name,
    &-email,
    &-subject,
    &-message {
      width: 100%;
      background: $color-light-black-2 !important;
      border: 1px solid $color-grey;
      border-radius: 1.5rem;

      &::placeholder {
        color: $color-grey;
        font-size: 1.5rem;
      }
    }

    &-name,
    &-email,
    &-subject {
      height: 5rem;
    }
  }
}
