body {
  color: $color-dark-white;
  background-color: $color-light-black;
  font-family: $font-default;
  font-weight: 300;
  line-height: 1.7;
}

.heading-primary {
  font-size: 5rem;
  font-family: $font-header;
  font-weight: 800;
  letter-spacing: 0.3rem;
}

.heading-sub-title {
  font-size: 1.6rem;
  color: $color-grey;
  letter-spacing: 0.07rem;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;
    height: 0.25rem;
    border-radius: 0.15rem;
    background-color: $color-dark-yellow;
  }

  &::before {
    left: 12rem;
  }

  &::after {
    right: 12rem;
  }
}
